* {
  box-sizing: border-box;
  margin: 0;
}

.box {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #0066ff;
  /* transform: translate(100px, 100px); */
  /* transform: scale(0.5, 2); */
  /* transform: rotate(45deg); */
  margin-bottom: 50px;
  transform: translate(100px) scale(0.7) rotate(45deg);
}
